<div class="px-10">
    <h1 class="text-lg font-bold">About</h1>
    <p class="text-xs">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, voluptatem? Excepturi ea deleniti iure officia distinctio, odio corporis velit molestias itaque vitae, eveniet provident veniam, rerum ab perspiciatis dolor repellat.</p>
    <p class="text-xs">Número de clientes <app-counter [duration]="duration()" [message]="message()" *ngIf="duration() > 0"></app-counter></p>
    <div>
        <app-wave-audio audioUrl="assets/TheSun.mp3"></app-wave-audio>
    </div>
</div>
