<h1 class="text-lg font-bold">About</h1>
<p class="text-xs">Lorem ipsum dolor <span highlight>sit amet, consectetur adipisicing elit.</span> Distinctio, voluptatem? Excepturi ea deleniti iure officia distinctio, odio corporis velit molestias itaque vitae, eveniet provident veniam, rerum ab perspiciatis dolor repellat.</p>
<p class="text-xs">Número de clientes <app-counter [duration]="duration()" [message]="message()" *ngIf="duration() > 0"></app-counter></p>
<div>
    <app-wave-audio audioUrl="assets/TheSun.mp3"></app-wave-audio>
</div>